<link rel="stylesheet" type="text/css" href="styles/profilestyle.css">
<link rel="stylesheet" type="text/css" href="styles/aboutstyle.css">

<!-- Divider -->
<div class="divider centered"><p>About the Site!</p></div>

<!-- About -->
<div class="about-wrapper">
    <div class="about">
    <p>
        {{about.bio}}
    </p>
    </div>
</div>

<!-- Divider -->
<div class="divider centered"><p>Meet the Devs!</p></div>

<!-- Author's Information Card -->
{{#each devs}}
<div class="profile-wrapper centered">
    <div class="profile-left">
        <div class="profile-image-container">
            <img src="img/devs/{{this.email}}.png">
            <!--<div class="profile-picture-overlay">
                <div class="profile-picture-text">Change Avatar</div>
            </div>-->
        </div>
    </div>
    <div class="profile-right">
        <div class="profile-right-content">
            <h1>{{this.name}}</h1>
            <h4>{{this.email}}</h4>
            <p>{{this.bio}}</p>
        </div>
    </div>
</div>
{{/each}}