<head>
    <link rel="stylesheet" type="text/css" href="/styles/articlestyle.css">
</head>

<script>
    function removeFeatured() {
        document.getElementById('status').innerHTML = "updating...";
        var id = document.getElementById("id").innerHTML;
        $.post('updateFeatured', {id: id, newStatus: false}, function(data, status) {
            $('#remove').css('display', 'none');
            $('#add').css('display', 'block');
            document.getElementById('status').innerHTML = "updated!";
        });
    };

    function addFeatured() {
        document.getElementById('status').innerHTML = "updating...";
        var id = document.getElementById("id").innerHTML;
        $.post('updateFeatured', {id: id, newStatus: true}, function(data, status) {
            $('#add').css('display', 'none');
            $('#remove').css('display', 'block');
            document.getElementById('status').innerHTML = "updated!";
        });
    };
</script>

<!-- Featured Article Splash -->
<div class="image-box">
<a href="#">
    <!-- Dimmer + Vignette -->
    <div class="image-dimmer"></div>
    <!-- Featured Image  -->
    <img src="{{article.image}}">
    <!-- Featured Text -->
    <div class="text-block text-light centered">
        <h4>{{article.title}}</h4>
        <p>{{dateFormat this.date "MMMM Do, YYYY"}} • {{author}}</p>
        <!--
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        -->
    </div>
    <!-- Tag -->
    <div class="tag-wrapper">
        <a href="{{article.category}}" class="tag-block"><p>{{article.category}}</p></a>
    </div>
</a>
</div>

<!-- Article -->
<div class="article-wrapper">
    <div id="id" style="display: none;">{{article._id}}</div>
    <div class="article">
        <p>
            {{article.content}}
        </p>
    </div>
    {{#if isEditor}}
    <div class="editor-options">
        {{#if article.featured}}
        <button id="remove" type="button" onclick="removeFeatured()">remove from featured</button>
        <button id="add" type="button" style="display: none;" onclick="addFeatured()">add to featured</button>
        {{else}}
        <button id="remove" type="button" style="display: none;" onclick="removeFeatured()">remove from featured</button>
        <button id="add" type="button" onclick="addFeatured()">add to featured</button>
        {{/if}}
        <div id="status"></div>
    </div>
    {{/if}}
</div>