<link rel="stylesheet" href="styles/myarticlesstyle.css">

<div class="myarticles">

  <div class="title-box divider centered">
      <p>My Articles</p>
      <div class="aligner edit-profile-logout-wrapper">
        <div class="aligner-item--top"></div>
        <a class="button-link top-button myarticles-button aligner-item" href="/newarticle">+ New Article</a>
        <div class="aligner-item--bottom"></div>
      </div>
  </div>

  <div class="myarticles-wrapper">

    <table class="myarticles-table">
        <tr>
            <td>Title</td>
            <td>Category</td>
            <td>Date</td>
            <td>Published</td>
            <td>Edit</td>
        </tr>
        {{#each articles}}
        <tr>
            <td>{{title}}</td>
            <td>{{category}}</td>
            <td>{{dateFormat date "MMMM Do, YYYY"}}</td>
            <td>{{#if published}}Yes{{else}}No{{/if}}</td>
            <td><a href="/editarticle?id={{_id}}">Edit</a></td>
        </tr>
        {{/each}}

    </table>
    {{> pagination}}
</div>

<br>
